@media (max-width: 768px) {
  .container {
    width: 98%; } }
@media (min-width: 768px) {
  .container {
    width: 750px; } }
@media (min-width: 992px) {
  .container {
    width: 970px; } }
@media (min-width: 1200px) {
  .container {
    width: 1170px; } }
.container-fluid {
  margin: auto; }

.container {
  margin: auto; }

@media (max-width: 767px) {
  .hidden-xs {
    display: none !important; } }
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important; } }
@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important; } }
.row {
  min-height: 1px;
  margin: auto; }
  .row:before, .row:after {
    content: "";
    display: table;
    clear: both; }
  @media (max-width: 768px) {
    .row .col-xs-0 {
      box-sizing: border-box;
      float: left;
      display: block;
      width: 0%;
      min-height: 1px; }
    .row .col-xs-offset-0 {
      margin-left: 0%; } }
  @media (max-width: 768px) {
    .row .col-xs-1 {
      box-sizing: border-box;
      float: left;
      display: block;
      width: 8.33333%;
      min-height: 1px; }
    .row .col-xs-offset-1 {
      margin-left: 8.33333%; } }
  @media (max-width: 768px) {
    .row .col-xs-2 {
      box-sizing: border-box;
      float: left;
      display: block;
      width: 16.66667%;
      min-height: 1px; }
    .row .col-xs-offset-2 {
      margin-left: 16.66667%; } }
  @media (max-width: 768px) {
    .row .col-xs-3 {
      box-sizing: border-box;
      float: left;
      display: block;
      width: 25%;
      min-height: 1px; }
    .row .col-xs-offset-3 {
      margin-left: 25%; } }
  @media (max-width: 768px) {
    .row .col-xs-4 {
      box-sizing: border-box;
      float: left;
      display: block;
      width: 33.33333%;
      min-height: 1px; }
    .row .col-xs-offset-4 {
      margin-left: 33.33333%; } }
  @media (max-width: 768px) {
    .row .col-xs-5 {
      box-sizing: border-box;
      float: left;
      display: block;
      width: 41.66667%;
      min-height: 1px; }
    .row .col-xs-offset-5 {
      margin-left: 41.66667%; } }
  @media (max-width: 768px) {
    .row .col-xs-6 {
      box-sizing: border-box;
      float: left;
      display: block;
      width: 50%;
      min-height: 1px; }
    .row .col-xs-offset-6 {
      margin-left: 50%; } }
  @media (max-width: 768px) {
    .row .col-xs-7 {
      box-sizing: border-box;
      float: left;
      display: block;
      width: 58.33333%;
      min-height: 1px; }
    .row .col-xs-offset-7 {
      margin-left: 58.33333%; } }
  @media (max-width: 768px) {
    .row .col-xs-8 {
      box-sizing: border-box;
      float: left;
      display: block;
      width: 66.66667%;
      min-height: 1px; }
    .row .col-xs-offset-8 {
      margin-left: 66.66667%; } }
  @media (max-width: 768px) {
    .row .col-xs-9 {
      box-sizing: border-box;
      float: left;
      display: block;
      width: 75%;
      min-height: 1px; }
    .row .col-xs-offset-9 {
      margin-left: 75%; } }
  @media (max-width: 768px) {
    .row .col-xs-10 {
      box-sizing: border-box;
      float: left;
      display: block;
      width: 83.33333%;
      min-height: 1px; }
    .row .col-xs-offset-10 {
      margin-left: 83.33333%; } }
  @media (max-width: 768px) {
    .row .col-xs-11 {
      box-sizing: border-box;
      float: left;
      display: block;
      width: 91.66667%;
      min-height: 1px; }
    .row .col-xs-offset-11 {
      margin-left: 91.66667%; } }
  @media (max-width: 768px) {
    .row .col-xs-12 {
      box-sizing: border-box;
      float: left;
      display: block;
      width: 100%;
      min-height: 1px; }
    .row .col-xs-offset-12 {
      margin-left: 100%; } }
  @media (min-width: 768px) {
    .row .col-sm-0 {
      box-sizing: border-box;
      float: left;
      display: block;
      width: 0%;
      min-height: 1px; }
    .row .col-sm-offset-0 {
      margin-left: 0%; } }
  @media (min-width: 768px) {
    .row .col-sm-1 {
      box-sizing: border-box;
      float: left;
      display: block;
      width: 8.33333%;
      min-height: 1px; }
    .row .col-sm-offset-1 {
      margin-left: 8.33333%; } }
  @media (min-width: 768px) {
    .row .col-sm-2 {
      box-sizing: border-box;
      float: left;
      display: block;
      width: 16.66667%;
      min-height: 1px; }
    .row .col-sm-offset-2 {
      margin-left: 16.66667%; } }
  @media (min-width: 768px) {
    .row .col-sm-3 {
      box-sizing: border-box;
      float: left;
      display: block;
      width: 25%;
      min-height: 1px; }
    .row .col-sm-offset-3 {
      margin-left: 25%; } }
  @media (min-width: 768px) {
    .row .col-sm-4 {
      box-sizing: border-box;
      float: left;
      display: block;
      width: 33.33333%;
      min-height: 1px; }
    .row .col-sm-offset-4 {
      margin-left: 33.33333%; } }
  @media (min-width: 768px) {
    .row .col-sm-5 {
      box-sizing: border-box;
      float: left;
      display: block;
      width: 41.66667%;
      min-height: 1px; }
    .row .col-sm-offset-5 {
      margin-left: 41.66667%; } }
  @media (min-width: 768px) {
    .row .col-sm-6 {
      box-sizing: border-box;
      float: left;
      display: block;
      width: 50%;
      min-height: 1px; }
    .row .col-sm-offset-6 {
      margin-left: 50%; } }
  @media (min-width: 768px) {
    .row .col-sm-7 {
      box-sizing: border-box;
      float: left;
      display: block;
      width: 58.33333%;
      min-height: 1px; }
    .row .col-sm-offset-7 {
      margin-left: 58.33333%; } }
  @media (min-width: 768px) {
    .row .col-sm-8 {
      box-sizing: border-box;
      float: left;
      display: block;
      width: 66.66667%;
      min-height: 1px; }
    .row .col-sm-offset-8 {
      margin-left: 66.66667%; } }
  @media (min-width: 768px) {
    .row .col-sm-9 {
      box-sizing: border-box;
      float: left;
      display: block;
      width: 75%;
      min-height: 1px; }
    .row .col-sm-offset-9 {
      margin-left: 75%; } }
  @media (min-width: 768px) {
    .row .col-sm-10 {
      box-sizing: border-box;
      float: left;
      display: block;
      width: 83.33333%;
      min-height: 1px; }
    .row .col-sm-offset-10 {
      margin-left: 83.33333%; } }
  @media (min-width: 768px) {
    .row .col-sm-11 {
      box-sizing: border-box;
      float: left;
      display: block;
      width: 91.66667%;
      min-height: 1px; }
    .row .col-sm-offset-11 {
      margin-left: 91.66667%; } }
  @media (min-width: 768px) {
    .row .col-sm-12 {
      box-sizing: border-box;
      float: left;
      display: block;
      width: 100%;
      min-height: 1px; }
    .row .col-sm-offset-12 {
      margin-left: 100%; } }
  @media (min-width: 992px) {
    .row .col-md-0 {
      box-sizing: border-box;
      float: left;
      display: block;
      width: 0%;
      min-height: 1px; }
    .row .col-md-offset-0 {
      margin-left: 0%; } }
  @media (min-width: 992px) {
    .row .col-md-1 {
      box-sizing: border-box;
      float: left;
      display: block;
      width: 8.33333%;
      min-height: 1px; }
    .row .col-md-offset-1 {
      margin-left: 8.33333%; } }
  @media (min-width: 992px) {
    .row .col-md-2 {
      box-sizing: border-box;
      float: left;
      display: block;
      width: 16.66667%;
      min-height: 1px; }
    .row .col-md-offset-2 {
      margin-left: 16.66667%; } }
  @media (min-width: 992px) {
    .row .col-md-3 {
      box-sizing: border-box;
      float: left;
      display: block;
      width: 25%;
      min-height: 1px; }
    .row .col-md-offset-3 {
      margin-left: 25%; } }
  @media (min-width: 992px) {
    .row .col-md-4 {
      box-sizing: border-box;
      float: left;
      display: block;
      width: 33.33333%;
      min-height: 1px; }
    .row .col-md-offset-4 {
      margin-left: 33.33333%; } }
  @media (min-width: 992px) {
    .row .col-md-5 {
      box-sizing: border-box;
      float: left;
      display: block;
      width: 41.66667%;
      min-height: 1px; }
    .row .col-md-offset-5 {
      margin-left: 41.66667%; } }
  @media (min-width: 992px) {
    .row .col-md-6 {
      box-sizing: border-box;
      float: left;
      display: block;
      width: 50%;
      min-height: 1px; }
    .row .col-md-offset-6 {
      margin-left: 50%; } }
  @media (min-width: 992px) {
    .row .col-md-7 {
      box-sizing: border-box;
      float: left;
      display: block;
      width: 58.33333%;
      min-height: 1px; }
    .row .col-md-offset-7 {
      margin-left: 58.33333%; } }
  @media (min-width: 992px) {
    .row .col-md-8 {
      box-sizing: border-box;
      float: left;
      display: block;
      width: 66.66667%;
      min-height: 1px; }
    .row .col-md-offset-8 {
      margin-left: 66.66667%; } }
  @media (min-width: 992px) {
    .row .col-md-9 {
      box-sizing: border-box;
      float: left;
      display: block;
      width: 75%;
      min-height: 1px; }
    .row .col-md-offset-9 {
      margin-left: 75%; } }
  @media (min-width: 992px) {
    .row .col-md-10 {
      box-sizing: border-box;
      float: left;
      display: block;
      width: 83.33333%;
      min-height: 1px; }
    .row .col-md-offset-10 {
      margin-left: 83.33333%; } }
  @media (min-width: 992px) {
    .row .col-md-11 {
      box-sizing: border-box;
      float: left;
      display: block;
      width: 91.66667%;
      min-height: 1px; }
    .row .col-md-offset-11 {
      margin-left: 91.66667%; } }
  @media (min-width: 992px) {
    .row .col-md-12 {
      box-sizing: border-box;
      float: left;
      display: block;
      width: 100%;
      min-height: 1px; }
    .row .col-md-offset-12 {
      margin-left: 100%; } }
  @media (min-width: 1200px) {
    .row .col-lg-0 {
      box-sizing: border-box;
      float: left;
      display: block;
      width: 0%;
      min-height: 1px; }
    .row .col-lg-offset-0 {
      margin-left: 0%; } }
  @media (min-width: 1200px) {
    .row .col-lg-1 {
      box-sizing: border-box;
      float: left;
      display: block;
      width: 8.33333%;
      min-height: 1px; }
    .row .col-lg-offset-1 {
      margin-left: 8.33333%; } }
  @media (min-width: 1200px) {
    .row .col-lg-2 {
      box-sizing: border-box;
      float: left;
      display: block;
      width: 16.66667%;
      min-height: 1px; }
    .row .col-lg-offset-2 {
      margin-left: 16.66667%; } }
  @media (min-width: 1200px) {
    .row .col-lg-3 {
      box-sizing: border-box;
      float: left;
      display: block;
      width: 25%;
      min-height: 1px; }
    .row .col-lg-offset-3 {
      margin-left: 25%; } }
  @media (min-width: 1200px) {
    .row .col-lg-4 {
      box-sizing: border-box;
      float: left;
      display: block;
      width: 33.33333%;
      min-height: 1px; }
    .row .col-lg-offset-4 {
      margin-left: 33.33333%; } }
  @media (min-width: 1200px) {
    .row .col-lg-5 {
      box-sizing: border-box;
      float: left;
      display: block;
      width: 41.66667%;
      min-height: 1px; }
    .row .col-lg-offset-5 {
      margin-left: 41.66667%; } }
  @media (min-width: 1200px) {
    .row .col-lg-6 {
      box-sizing: border-box;
      float: left;
      display: block;
      width: 50%;
      min-height: 1px; }
    .row .col-lg-offset-6 {
      margin-left: 50%; } }
  @media (min-width: 1200px) {
    .row .col-lg-7 {
      box-sizing: border-box;
      float: left;
      display: block;
      width: 58.33333%;
      min-height: 1px; }
    .row .col-lg-offset-7 {
      margin-left: 58.33333%; } }
  @media (min-width: 1200px) {
    .row .col-lg-8 {
      box-sizing: border-box;
      float: left;
      display: block;
      width: 66.66667%;
      min-height: 1px; }
    .row .col-lg-offset-8 {
      margin-left: 66.66667%; } }
  @media (min-width: 1200px) {
    .row .col-lg-9 {
      box-sizing: border-box;
      float: left;
      display: block;
      width: 75%;
      min-height: 1px; }
    .row .col-lg-offset-9 {
      margin-left: 75%; } }
  @media (min-width: 1200px) {
    .row .col-lg-10 {
      box-sizing: border-box;
      float: left;
      display: block;
      width: 83.33333%;
      min-height: 1px; }
    .row .col-lg-offset-10 {
      margin-left: 83.33333%; } }
  @media (min-width: 1200px) {
    .row .col-lg-11 {
      box-sizing: border-box;
      float: left;
      display: block;
      width: 91.66667%;
      min-height: 1px; }
    .row .col-lg-offset-11 {
      margin-left: 91.66667%; } }
  @media (min-width: 1200px) {
    .row .col-lg-12 {
      box-sizing: border-box;
      float: left;
      display: block;
      width: 100%;
      min-height: 1px; }
    .row .col-lg-offset-12 {
      margin-left: 100%; } }

.table {
  display: table !important;
  table-layout: fixed !important;
  height: 100%;
  width: 100%; }
  .table .cell {
    vertical-align: middle;
    float: none;
    display: table-cell;
    height: 100%; }

/*# sourceMappingURL=myGrid.css.map */
